.container {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

/* Tablet */
@media (min-width: 768px) {
}

/* Desktop */
@media (min-width: 1280px) {
  .container {
    flex-direction: row;
  }
  .formSection {
    flex: 1;
    padding: 20px;
  }

  .summarySection {
    flex: 1;
    background-color: #f0f1f3;
    display: flex;
  }
}
